<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@producto.edit.headline">Editar pieza</h1>

</div>

<div class="form-container">
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="proNumeroParte" i18n-label="@@producto.proNumeroParte.label" label="Número de Parte" />
    <app-input-row [group]="editForm" field="proNombre" i18n-label="@@producto.proNombre.label" label="Nombre" />
    <app-input-row [group]="editForm" field="proNumeroParteAlterno" i18n-label="@@producto.proNumeroParteAlterno.label" label="Número Alterno" />
    <app-input-row [group]="editForm" field="proNumeroSerie" i18n-label="@@producto.proNumeroSerie.label" label="Número de serie" />
    <app-input-row [group]="editForm" field="proTipoDocumento" i18n-label="@@producto.proTipoDocumento.label" label="Tipo de documento" />
    <app-input-row [group]="editForm" field="proTpo" rowType="select" [options]="proTpoValues" i18n-label="@@producto.proTpo.label" label="Tipo de compomente" />
    <app-input-row [group]="editForm" field="proAmc" rowType="select" [options]="proAmcValues" i18n-label="@@producto.proAmc.label" label="Almacen" />
    <app-input-row [group]="editForm" field="proPve" rowType="select" [options]="proPveValues" i18n-label="@@producto.proPve.label" label="Proveedor" />

    <div class="form-line form-line--modelo">
        <div class="label-col">
            <span class="col-form-label required">Modelo de aeronave</span>
        </div>

        <div class="field-col">
            <div class="field-wrap field-wrap--fluid">
                <mat-form-field class="custom-mat-select" appearance="fill"
                                [hideRequiredMarker]="true">
                    <mat-label>Por favor seleccione</mat-label>

                    <mat-select
                        id="modeloAeronaveIds"
                        [formControl]="editForm.controls.modeloAeronaveIds"
                        multiple
                        panelClass="custom-panel"
                        disableOptionCentering>
                        <mat-option *ngFor="let modelo of modeloAeronaveArray" [value]="modelo.value">
                            {{ modelo.label }}
                        </mat-option>
                    </mat-select>

                    <mat-error *ngIf="editForm.get('modeloAeronaveIds')?.hasError('required')" i18n="@@producto.modeloAeronaveIds.required">
                        Este campo es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="text-end mt-3">
    <input type="submit"
           i18n-value="@@producto.edit.headline"
           value="Guardar"
           class="btn btn-primary" />
    </div>

</form>
</div>

