<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@producto.list.headline">Productos</h1>
    <div>
        <a routerLink="/productos/add" class="btn btn-primary ms-2" i18n="@@producto.list.createNew">Crear nuevo Producto</a>
    </div>
</div>

@if (!productos || productos.length === 0) {
<div i18n="@@producto.list.empty">No se encontraron productos.</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead>
        <tr>
            <th scope="col" i18n="@@producto.proId.label">ID</th>
            <th scope="col" i18n="@@producto.proNumeroParte.label">Número de Parte</th>
            <th scope="col" i18n="@@producto.proNombre.label">Nombre</th>
            <th scope="col" i18n="@@producto.proNumeroParteAlterno.label">Número Alterno</th>
            <th scope="col" i18n="@@producto.proNumeroSerie.label">Número de Serie</th>
            <th scope="col" i18n="@@producto.proUnidades.label">Unidades</th>
            <!-- Eliminado: <th scope="col" i18n="@@producto.proFechaVencimiento.label">Pro Fecha Vencimiento</th> -->
            <th scope="col" i18n="@@producto.proTipoDocumento.label">Tipo Documento</th>
            <th scope="col" i18n="@@producto.list.actions">Acciones</th>
        </tr>
        </thead>
        <tbody>
        @for (producto of productos; track producto.proId) {
        <tr>
            <td>{{ producto.proId }}</td>
            <td>{{ producto.proNumeroParte }}</td>
            <td>{{ producto.proNombre }}</td>
            <td>{{ producto.proNumeroParteAlterno ?? 'N/A' }}</td>
            <td>{{ producto.proNumeroSerie }}</td>
            <td>{{ producto.proUnidades }}</td> <!-- Mostrar 0 por defecto -->
            <!-- Eliminado: <td>{{ producto.proFechaVencimiento }}</td> -->
            <td>{{ producto.proTipoDocumento }}</td>
            <td>
                <div class="float-end text-nowrap">
                    <a [routerLink]="['/productos/edit', producto.proId]"
                       class="btn btn-sm btn-secondary"
                       i18n="@@producto.list.edit">Editar</a>
                    <button type="button"
                            (click)="confirmDelete(producto.proId!)"
                            class="btn btn-sm btn-secondary ms-1"
                            i18n="@@producto.list.delete">Eliminar</button>
                </div>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>
}
