.icon-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #c8c2a5;
  border-bottom: 1px solid rgba(51,47,39,.12);
  padding-right: 10px;
  padding-left: 10px;
}
.icon {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
}

.icon-container .mat-mdc-icon-button {
  --mdc-icon-button-icon-size: 32px;
  --mdc-icon-button-state-layer-size: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 0;
}

.icon-container mat-icon {
  width: 32px;
  height: 32px;
  line-height: 1;
  color: #332F27;
}

.icon-container .action-text {
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  color: #332F27;
  user-select: none;
}
