<div class="d-flex flex-wrap mb-2 header-bar gap-2">
    <h1 i18n="@@modeloAeronave.edit.headline">Editar el modelo aeronave</h1>
</div>
<div class="form-container">
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="mreNombre" i18n-label="@@modeloAeronave.mreNombre.label" label="Nombre" />

    <div class="text-end mt-3">
        <input type="submit"
               i18n-value="@@modeloAeronave.edit.headline"
               value="Guardar"
               class="btn btn-primary" />
    </div>
</form>
</div>
