<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@modeloAeronave.add.headline">Add Modelo Aeronave</h1>
    <div>
        <a routerLink="/modeloAeronaves" class="btn btn-secondary" i18n="@@modeloAeronave.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="mreNombre" i18n-label="@@modeloAeronave.mreNombre.label" label="Mre Nombre" />
    <input type="submit" i18n-value="@@modeloAeronave.add.headline" value="Add Modelo Aeronave" class="btn btn-primary mt-4" />
</form>
