<div class="d-flex flex-wrap mb-2">
    <h1 i18n="@@modeloAeronave.list.headline">Lista de los modelo de aeronaves</h1>
</div>

    <div class="icon-container mb-2">
        <div class="icon d-flex align-items-center ms-auto">
            <button
                mat-icon-button
                routerLink="/modeloAeronaves/add"
                aria-label="Añadir modelo ">
                <mat-icon svgIcon="add_box"></mat-icon>
            </button>
            <span id="labelList" class="action-text">Añadir modelo de aeronaves</span>
        </div>
    </div>

@if (!modeloAeronaves || modeloAeronaves.length === 0) {
<div i18n="@@modeloAeronave.list.empty">No Modelo Aeronaves could be found.</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle table-pale">
        <thead>
            <tr>
                <th scope="col" i18n="@@modeloAeronave.mreNombre.label">Nombre</th>
                <th scope="col" i18n="@@modeloAeronave.list.actions">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (modeloAeronave of modeloAeronaves; track modeloAeronave.mreId) {
            <tr>
                <td>{{ modeloAeronave.mreNombre }}</td>
                <td>
                    <div class="text-nowrap">
                        <a [routerLink]="['/modeloAeronaves/edit', modeloAeronave.mreId]" class="btn btn-sm btn-secondary" i18n="@@modeloAeronave.list.edit">Editar</a>
                        <button type="button" (click)="confirmDelete(modeloAeronave.mreId!)" class="btn btn-sm btn-secondary" i18n="@@modeloAeronave.list.delete">Eliminar</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
