<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@almacenContenedor.edit.headline">Edit Almacen Contenedor</h1>
    <div>
        <a routerLink="/almacenContenedores" class="btn btn-secondary" i18n="@@almacenContenedor.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="amcId" rowType="number" i18n-label="@@almacenContenedor.amcId.label" label="Amc Id" />
    <app-input-row [group]="editForm" field="amcNumero" i18n-label="@@almacenContenedor.amcNumero.label" label="Amc Numero" />
    <app-input-row [group]="editForm" field="amcAmr" rowType="select" [options]="amcAmrValues" i18n-label="@@almacenContenedor.amcAmr.label" label="Amc Amr" />
    <input type="submit" i18n-value="@@almacenContenedor.edit.headline" value="Edit Almacen Contenedor" class="btn btn-primary mt-4" />
</form>
