<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@productoAeronave.edit.headline">Editar pieza agregada</h1>
    <div>
        <a routerLink="/producto-aeronave-list" class="btn btn-secondary">Volver a la lista</a>
    </div>
</div>

<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <!-- Campos de Producto -->
    <app-input-row [group]="editForm" field="proNumeroParte" i18n-label="@@producto.proNumeroParte.label" label="Número de Parte:" />
    <app-input-row [group]="editForm" field="proNombre" i18n-label="@@producto.proNombre.label" label="Nombre:" />
    <app-input-row [group]="editForm" field="proNumeroParteAlterno" i18n-label="@@producto.proNumeroParteAlterno.label" label="Número de Parte Alterno:" />
    <app-input-row [group]="editForm" field="proNumeroSerie" i18n-label="@@producto.proNumeroSerie.label" label="Número de Serie:" />
    <app-input-row [group]="editForm" field="proUnidades" rowType="number" i18n-label="@@producto.proUnidades.label" label="Unidades:" />
    <app-input-row [group]="editForm" field="proFechaVencimiento" datepicker="datepicker" i18n-label="@@producto.proFechaVencimiento.label" label="Fecha de Vencimiento:" />
    <app-input-row [group]="editForm" field="proTipoDocumento" i18n-label="@@producto.proTipoDocumento.label" label="Tipo de Documento:" />
    <app-input-row [group]="editForm" field="proTpo" rowType="select" [options]="proTpoValues" i18n-label="@@producto.proTpo.label" label="Tipo de Producto:" />
    <app-input-row [group]="editForm" field="proAmc" rowType="select" [options]="proAmcValues" i18n-label="@@producto.proAmc.label" label="Almacén Combinado:" />
    <app-input-row [group]="editForm" field="proPve" rowType="select" [options]="proPveValues" i18n-label="@@producto.proPve.label" label="Proveedor:" />

    <!-- Campo de Modelo Aeronave (checkboxes) -->
    <div class="form-group">
        <label class="form-label" i18n="@@modeloAeronave.edit.headline">Seleccione el modelo de la aeronave:</label>
        <div formArrayName="mreIds" class="d-flex flex-wrap gap-3">
            <div *ngFor="let modelo of modelosAeronave; let i = index" class="form-check">
                <input type="checkbox" class="form-check-input" [formControlName]="i" [value]="modelo.mreId" id="edit-modelo-{{i}}">
                <label class="form-check-label" for="edit-modelo-{{i}}">
                    {{ modelo.mreNombre }}
                </label>
            </div>
        </div>
    </div>

    <!-- Botón de envío -->
    <button type="submit" class="btn btn-primary mt-4" i18n="@@productoAeronave.edit.submit">Guardar</button>
</form>
