<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@productoAeronave.list.headline">Lista de piezas</h1>
    <div>
        <a routerLink="/producto-aeronave-add" class="btn btn-primary">Agregar una nueva pieza</a>
    </div>
</div>

@if (!detallesCompletos || detallesCompletos.length === 0) {
<div i18n="@@productoAeronave.list.empty">No se encontraron relaciones.</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead>
        <tr>
            <th scope="col" class="text-center" i18n="@@producto.proNumeroParte.label">Número de Parte</th>
            <th scope="col" class="text-center" i18n="@@producto.proNombre.label">Nombre</th>
            <th scope="col" class="text-center" i18n="@@producto.proNumeroParteAlterno.label">Número de Parte Alterno</th>
            <th scope="col" class="text-center" i18n="@@producto.proNumeroSerie.label">Número de Serie</th>
            <th scope="col" class="text-center" i18n="@@producto.proUnidades.label">Unidades</th>
            <th scope="col" class="text-center" i18n="@@producto.proFechaVencimiento.label">Fecha de Vencimiento</th>
            <th scope="col" class="text-center" i18n="@@producto.proTipoDocumento.label">Tipo de Documento</th>
            <th scope="col" class="text-center" i18n="@@producto.proTpo.label">Tipo de Producto</th>
            <th scope="col" class="text-center" i18n="@@producto.proAmc.label">Ubicación</th>
            <th scope="col" class="text-center" i18n="@@producto.proPve.label">Proveedor</th>
            <th scope="col" class="text-center" i18n="@@modeloAeronave.mreNombre.label">Modelo Aeronave</th>
            <th scope="col" class="text-center" i18n="@@productoAeronave.list.actions">Acciones</th>
        </tr>
        </thead>
        <tbody>
        @for (detalle of detallesCompletos; track detalle.dpmaId) {
        <tr>
            <td class="text-center">{{ detalle.proNumeroParte ?? 'N/A' }}</td>
            <td class="text-center">{{ detalle.proNombre ?? 'N/A' }}</td>
            <td class="text-center">{{ detalle.proNumeroParteAlterno ?? 'N/A' }}</td>
            <td class="text-center">{{ detalle.proNumeroSerie ?? 'N/A' }}</td>
            <td class="text-center">{{ detalle.proUnidades ?? 'N/A' }}</td>
            <td class="text-center">{{ detalle.proFechaVencimiento ? (detalle.proFechaVencimiento | date: 'yyyy-MM-dd') : 'N/A' }}</td>
            <td class="text-center">{{ detalle.proTipoDocumento ?? 'N/A' }}</td>
            <td class="text-center">{{ detalle.proTpo ?? 'N/A' }}</td>
            <td class="text-center">{{ detalle.proAmc ?? 'N/A' }}</td> <!-- Mostrar el nombre del almacén combinado -->
            <td class="text-center">{{ detalle.proPve ?? 'N/A' }}</td>
            <td class="text-center">{{ detalle.mreNombre ?? 'N/A' }}</td>
            <td>
                <div class="float-end text-nowrap">
                    <a [routerLink]="['/producto-aeronave-edit', detalle.dpmaPro, detalle.dpmaId]"
                       class="btn btn-sm btn-secondary">Editar</a>
                </div>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>
}
