server:
  port: ${PORT:8080}
  servlet:
    session:
      timeout: 60m
      cookie:
        name: SESSION
        same-site: strict

spring:
  datasource:
    url: ${JDBC_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 5
      minimum-idle: 0
      idle-timeout: 60000
      keepalive-time: 300000
      initialization-fail-timeout: 0

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
        jdbc:
          lob:
            non_contextual_creation: true
        id:
          new_generator_mappings: true

springdoc:
  pathsToMatch: /api/**
