<div class="d-flex flex-wrap mb-3 gap-3">
    <h1 i18n="@@transaccion.add.headline">Añadir transacción</h1>
    <div>
        <button
            mat-icon-button
            (click)="abrirBuscadorProductos()"
            matTooltip="Buscar pieza"
            matTooltipPosition="right"
            [matTooltipClass]="'tooltip-pale'"
        >
            <mat-icon svgIcon="search"></mat-icon>
        </button>

        <button
            mat-icon-button
            [routerLink]="'/transacciones'"
            matTooltip="Lista de transacciones"
            matTooltipPosition="right"
            [matTooltipClass]="'tooltip-pale'"
        >
            <mat-icon svgIcon="list_alt"></mat-icon>
        </button>
    </div>
</div>

<div class="form-container">
    <form [formGroup]="addForm" (ngSubmit)="executeSampleTransaction()">
        <app-input-row
            [group]="addForm"
            field="tcoProNumeroParte"
            i18n-label="@@transaccion.tcoPro.label"
            label="Número de Parte"
        />
        <app-input-row
            [group]="addForm"
            field="tceTvo"
            rowType="select"
            [options]="tceTvoValues"
            i18n-label="@@transaccion.tceTvo.label"
            label="Movimiento"
        />

        <div *ngIf="showFechaVencimiento" class="mb-3 field-row">
            <label for="ltFechaVencimiento" class="form-label" i18n="@@transaccion.ltFechaVencimiento.label">
                Fecha de Vencimiento <span class="req-asterisk">*</span>
            </label>


            <div class="input-wrap">
                <input
                    id="ltFechaVencimiento"
                    type="date"
                    class="form-control"
                    formControlName="ltFechaVencimiento"
                    [min]="todayStr"
                    autocomplete="off"
                    placeholder="Selecciona una fecha"
                    [ngClass]="{
        'is-invalid':
          addForm.get('ltFechaVencimiento')?.invalid &&
          (addForm.get('ltFechaVencimiento')?.touched || addForm.get('ltFechaVencimiento')?.dirty)
      }"
                    aria-describedby="ltFechaVencimientoHelp"
                />

                <div
                    id="ltFechaVencimientoHelp"
                    class="invalid-feedback"
                    *ngIf="
        addForm.get('ltFechaVencimiento')?.invalid &&
        (addForm.get('ltFechaVencimiento')?.touched || addForm.get('ltFechaVencimiento')?.dirty)
      "
                >
                    Este campo es necesario.
                </div>
            </div>
        </div>


        <app-input-row
            *ngIf="showAeronave"
            [group]="addForm"
            field="tceAnv"
            rowType="select"
            [options]="tceAnvValues"
            i18n-label="@@transaccion.tceAnv.label"
            label="Aeronave"
        />
        <app-input-row
            [group]="addForm"
            field="unidades"
            i18n-label="@@transaccion.unidades.label"
            label="Unidades"
        />
        <app-input-row
            [group]="addForm"
            field="tceObservaciones"
            i18n-label="@@transaccion.tceObservaciones.label"
            label="Observaciones"
        />
        <input id="tceUsr" formControlName="tceUsr" type="hidden" class="form-control" />

        <div class="text-end mt-3">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </form>
</div>
