<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@transaccion.add.headline">Añadir nueva transacción</h1>
    <div>
        <a routerLink="/transacciones" class="btn btn-secondary" i18n="@@transaccion.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="executeSampleTransaction()">
    <app-input-row [group]="addForm" field="tcoPro" i18n-label="@@transaccion.tcoPro.label" label="Pieza"/>
    <app-input-row [group]="addForm" field="tceFechaTransaccion" datepicker="datepicker" i18n-label="@@transaccion.tceFechaTransaccion.label" label="Fecha de transacción" disabled="true" />
    <app-input-row [group]="addForm" field="tceObservaciones" i18n-label="@@transaccion.tceObservaciones.label" label="Observaciones" />
    <app-input-row [group]="addForm" field="tceTvo" rowType="select" [options]="tceTvoValues" i18n-label="@@transaccion.tceTvo.label" label="Movimiento" />
    <app-input-row [group]="addForm" field="ltFechaVencimiento" datepicker="datepicker" i18n-label="@@transaccion.ltFechaVencimiento.label" label="Fecha de Vencimiento"/>
    <app-input-row [group]="addForm" field="unidades" i18n-label="@@transaccion.unidades.label" label="Unidades"/>
    <app-input-row [group]="addForm" field="tceAnv" i18n-label="@@transaccion.tceAnv.label" label="Aeronave"/>
    <input id="tceUsr" formControlName="tceUsr" type="hidden" class="form-control" />

    <div class="form-group">
        <label for="tceUsrDisplay" i18n="@@transaccion.tceUsr.label">Usuario</label>
        <input id="tceUsrDisplay" type="text" class="form-control" [value]="currentUserName" readonly />
    </div>

    <input type="submit" value="Ejecutar Transacción con Productos" class="btn btn-success mt-4">
</form>
