<div class="d-flex flex-wrap mb-2 gap-2 header-bar">
    <h1 i18n="@@transaccion.list.headline">Lista de transacciones</h1>

    <div>
        <button
            mat-icon-button
            routerLink="/transacciones/add"
            matTooltip="Añadir pieza"
            matTooltipPosition="right"
            [matTooltipClass]="'tooltip-pale'"
            aria-label="Añadir transaccion"
        >
            <mat-icon svgIcon="add_box"></mat-icon>

        </button>
    </div>
</div>

    <form class="row row-cols-auto mb-2 search-form" #f="ngForm">
        <h5 class="filters__title col-12">Filtro por fechas</h5>

        <div class="col-12 col-sm-auto">
            <label class="form-label" for="fechaInicio">Desde:</label>
            <input
                id="fechaInicio"
                type="date"
                class="form-control input-220"
                name="fechaInicio"
                [(ngModel)]="fechaInicio"
                required
                #fi="ngModel"
            >
            <div class="error-slot" aria-live="polite">
                <small class="text-danger" [class.invisible]="!(fi.invalid && fi.touched)">
                    Este campo es obligatorio
                </small>
            </div>
        </div>

        <div class="col-12 col-sm-auto">
            <label class="form-label" for="fechaFin">Hasta:</label>
            <input
                id="fechaFin"
                type="date"
                class="form-control input-220"
                name="fechaFin"
                [(ngModel)]="fechaFin"
                required
                #ff="ngModel"
            >
            <div class="error-slot" aria-live="polite">
                <small class="text-danger" [class.invisible]="!(ff.invalid && ff.touched)">
                    Este campo es obligatorio
                </small>
            </div>
        </div>

        <div class="col-12 col-sm-auto d-flex flex-row flex-sm-column align-items-center gap-2 flex-nowrap">
            <button
                mat-icon-button
                [matTooltip]="filtroActivo ? 'Limpiar filtro' : 'Filtrar'"
                matTooltipPosition="right"
                [matTooltipClass]="'tooltip-pale'"
                aria-label="Filtrar"
                (click)="onClickFiltro(f)"
            class="search-icon-btn"
            >
            <mat-icon [svgIcon]="filtroActivo ? 'filter_alt_off' : 'filter_alt'"></mat-icon>
            </button>

            <button
                mat-icon-button
                (click)="generarReporte()"
                matTooltip="Generar reporte"
                matTooltipPosition="right"
                [matTooltipClass]="'tooltip-pale'"
                aria-label="Generar PDF"
            >
                <mat-icon svgIcon="assignment"></mat-icon>
            </button>

        </div>

    </form>




<div class="table-responsive">
    <table class="table table-striped table-hover align-middle table-pale">
        <thead>
        <tr>
            <th scope="col" i18n="@@transaccion.productoNumeroParte.label">Número de parte</th>
            <th scope="col" i18n="@@transaccion.eventoNombre.label">Movimiento</th>
            <th scope="col" i18n="@@transaccion.unidades.label">Unidades</th>
            <th scope="col" i18n="@@transaccion.aeronaveMatricula.label">Aeronave</th>
            <th scope="col" i18n="@@transaccion.tceFechaTransaccion.label">Fecha de Transacción</th>
            <th scope="col" i18n="@@transaccion.usuarioNombre.label">Usuario</th>
            <th scope="col" i18n="@@transaccion.tceObservaciones.label">Observaciones</th>
        </tr>
        </thead>
        <tbody>
        @for (transaccion of transacciones; track transaccion.tceId) {
        <tr>
            <td>{{ transaccion.productoNumeroParte }}</td>
            <td>{{ transaccion.eventoNombre }}</td>
            <td>{{ transaccion.unidades }}</td>
            <td>{{ transaccion.aeronaveMatricula }}</td>
            <td>{{ transaccion.tceFechaTransaccion }}</td>
            <td>{{ transaccion.usuarioNombre }}</td>
            <td>{{ transaccion.tceObservaciones }}</td>

        </tr>
        }
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center mt-3">
    <button class="btn btn-primary me-2" (click)="previousPage()" [disabled]="page === 0" i18n="@@pagination.previous">
        Anterior
    </button>
    <span class="align-self-center span_color">Página {{ page + 1 }} de {{ totalPages }}</span>
    <button class="btn btn-primary ms-2" (click)="nextPage()" [disabled]="(page + 1) >= totalPages" i18n="@@pagination.next">
        Siguiente
    </button>
</div>
