<div class="d-flex flex-wrap mb-4 header-bar gap-2">
    <h1 i18n="@@pedidosCompra.edit.headline">Editar pedido de compra</h1>

    <div>
        <button
            mat-icon-button
            routerLink="/pedidosCompras"
            matTooltip="Lista de pedidos de compra"
            matTooltipPosition="right"
            [matTooltipClass]="'tooltip-pale'"
            aria-label="Lista de pedidos de compra"
        >
            <mat-icon svgIcon="list_alt"></mat-icon>

        </button>
    </div>
</div>
<div class="form-container">
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="pcaDescripcion" i18n-label="@@pedidosCompra.pcaDescripcion.label" label="Descripción" />
    <app-input-row [group]="editForm" field="pcaFechaPedido" datepicker="datepicker" i18n-label="@@pedidosCompra.pcaFechaPedido.label" label="Fecha de pedido" />
    <app-input-row [group]="editForm" field="pcaFechaEnvio" datepicker="datepicker" i18n-label="@@pedidosCompra.pcaFechaEnvio.label" label="Fecha de envio" />
    <app-input-row [group]="editForm" field="pcaFechaEntrega" datepicker="datepicker" i18n-label="@@pedidosCompra.pcaFechaEntrega.label" label="Fecha de entrega" />
    <app-input-row [group]="editForm" field="pcaFechaPrometida" datepicker="datepicker" i18n-label="@@pedidosCompra.pcaFechaPrometida.label" label="Fecha prometida" />
    <app-input-row [group]="editForm" field="pcaDireccionEnvio" i18n-label="@@pedidosCompra.pcaDireccionEnvio.label" label="Direccion de envio" />

    <div class="text-end mt-3">
        <input type="submit"
               i18n-value="@@pedidosCompra.edit.headline"
               value="Guardar"
               class="btn btn-primary" />
    </div>
</form>
</div>
