<div class="d-flex flex-wrap mb-4 header-bar gap-2">
    <h1  i18n="@@pedidosCompra.list.headline">Lista de pedidos de compras</h1>

    <div>
        <button
            mat-icon-button
            routerLink="/pedidosCompras/add"
            matTooltip="Añadir pedido de compra"
            matTooltipPosition="right"
            [matTooltipClass]="'tooltip-pale'"
            aria-label="Añadir pedido de compra"
        >
            <mat-icon svgIcon="add_box"></mat-icon>

        </button>
    </div>

</div>
@if (!pedidosCompras || pedidosCompras.length === 0) {
<div i18n="@@pedidosCompra.list.empty">No se pudo encontrar los pedidos de compras</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle table-pale">
        <thead>
            <tr>
                <th scope="col" i18n="@@pedidosCompra.pcaDescripcion.label">Descripción</th>
                <th scope="col" i18n="@@pedidosCompra.pcaFechaPedido.label">Fecha de pedido</th>
                <th scope="col" i18n="@@pedidosCompra.pcaFechaEnvio.label">Fecha de envio</th>
                <th scope="col" i18n="@@pedidosCompra.pcaFechaEntrega.label">Fecha de entrega</th>
                <th scope="col" i18n="@@pedidosCompra.pcaFechaPrometida.label">Fecha prometida</th>
                <th scope="col" i18n="@@pedidosCompra.pcaDireccionEnvio.label">Dirección de envio</th>
                <th scope="col" i18n="@@proveedor.list.actions">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (pedidosCompra of pedidosCompras; track pedidosCompra.pcaId) {
            <tr>
                <td>{{ pedidosCompra.pcaDescripcion }}</td>
                <td>{{ pedidosCompra.pcaFechaPedido }}</td>
                <td>{{ pedidosCompra.pcaFechaEnvio }}</td>
                <td>{{ pedidosCompra.pcaFechaEntrega }}</td>
                <td>{{ pedidosCompra.pcaFechaPrometida }}</td>
                <td>{{ pedidosCompra.pcaDireccionEnvio }}</td>
                <td>
                    <div class="text-nowrap">
                        <a [routerLink]="['/pedidosCompras/edit', pedidosCompra.pcaId]" class="btn btn-sm btn-secondary" i18n="@@pedidosCompra.list.edit">Editar</a>
                        <button type="button" (click)="confirmDelete(pedidosCompra.pcaId!)" class="btn btn-sm btn-secondary" i18n="@@pedidosCompra.list.delete">Eliminar</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
