<header>
    <div class="container">
        <nav class="navbar navbar-expand-md">
            <a routerLink="/" class="navbar-brand">
                <div class="brand-container">
                    <h4 class="m-0" i18n="@@app.title">Helisys</h4>
                        <div class="nav-divider" role="separator" aria-orientation="vertical" aria-hidden="true"></div>
                        <div class="nav-logos" aria-label="logos">
                            <img src="Diablos_rojos.png" alt="Logo 1" class="nav-logo" loading="lazy">
                            <img src="Fuerza_aerea.png" alt="Logo 2" class="nav-logo" loading="lazy">
                            <img src="Brigada.png" alt="Logo 3" class="nav-logo" loading="lazy">
                        </div>
                </div>
            </a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
                    aria-label="Toggle navigation" aria-controls="navbarToggle" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav ms-auto align-items-center flex-row flex-nowrap">
                    <li class="nav-item">
                        <span class="navbar-text px-2 d-flex align-items-center gap-1">
                            <mat-icon svgIcon="account_circle"
                                      class="user-icon"
                                      aria-hidden="true">
                            </mat-icon>
                        <span>Usuario: {{ userName }}</span>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a
                            routerLink="/"
                            class="nav-link d-flex align-items-center"
                            i18n-aria-label="@@navigation.home"
                            aria-label="Inicio"
                            routerLinkActive="active"
                        >
                            <mat-icon svgIcon="home" class="me-1" aria-hidden="true"></mat-icon>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="header-actions logout-nudge">
                <button (click)="logout()" class="btn btn-danger">Cerrar sesión</button>
            </div>
        </nav>
    </div>
</header>
