@import '../../_custom';


.header-container {
  display: flex;
  align-items: flex-start;
  margin-top: -10px;
}

h1.mb-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.menu-wrapper {
  width: 340px;
  min-width: 280px;
  background-color: $fondo-menu;
  padding: 10px;
  border-radius: 8px;

  h4 {
    font-family: 'Bebas Neue', sans-serif;
    color: $texto-secundario;
  }

  .list-group-item {
    border: 1px solid #302510;
    border-radius: 4px;
    margin-bottom: 5px;
    font-family: 'Bebas Neue', sans-serif;
    color: $texto-principal;
    background-color: $fondo-menu;

    &:hover {
      background-color: $fondo-hover;
      color: $texto-principal;
    }
  }
}

// 📦 Layout
.flex-container {
  display: flex;
}

// 🖼 Contenedor de imágenes (por si lo necesitas)
.img-wrapper {
  position: relative;

  img {
    display: block;
  }
}

// ✅ TAMAÑO POR IMAGEN
.img-fab {
  width: 100px;
  height: auto;
}

.img-brigada {
  width: 82px;
  height: auto;
}

.img-diablos {
  width: 400px;
  height: auto;
}

// ✅ POSICIÓN POR IMAGEN
.pos-fab {
  margin-left: 10px;
  margin-top: -10px;
}

.pos-brigada {
  margin-left: 10px;
  margin-top: -10px;
  position: relative;
  top: -14px;
}

.pos-diablos {
  margin-left: 100px;
  margin-top: 13px;
  align-self: flex-start;
}

// ⬇ Posición del h1
.pos-h1 {
  margin-left: 175px;
  margin-top: 10px;
  position: relative;
  top: 0;
}

// ⬇ Posición del menú
.pos-menu {
  margin-left: 150px;
  margin-top: -15px;
  position: relative;
  top: 0;
}




