<div class="header-container">
    <h1 class="mb-4" i18n="@@home.index.headline">Fuerza Aerea Boliviana III-Brigada Aerea</h1>

    <img src="Fuerza_aerea.png" alt="Logo Fuerza Aérea"
         width="140" height="90"
         class="img-fab nudge" style="--x: -7px; --y: -15px;">

    <img src="Brigada.png" alt="Logo Brigada"
         width="75" height="85"
         class="img-brigada nudge" style="--x: -20px; --y: -10px;">

</div>


<div class="container mt-3">
    <div class="flex-container">
        <div class="menu-wrapper menu-nudge">
            <h4  class="mb-3" i18n="@@home.index.exploreEntities">Menú</h4>
            <div class="list-group">
                <a routerLink="/productos/add" class="list-group-item list-group-item-action" i18n="@@producto.add.headline">Piezas</a>
                <a routerLink="/transacciones/add" class="list-group-item list-group-item-action" i18n="@@transaccion.add.headline">Transacciones</a>
                <a routerLink="/modeloAeronaves" class="list-group-item list-group-item-action" i18n="@@modeloAeronave.list.headline">Modelo Aeronaves</a>
                <a routerLink="/aeronaves" class="list-group-item list-group-item-action" i18n="@@aeronave.list.headline">Aeronaves</a>
                <a routerLink="/proveedores" class="list-group-item list-group-item-action" i18n="@@proveedor.list.headline">Proveedores</a>
                <a routerLink="/pedidosCompras" class="list-group-item list-group-item-action" i18n="@@pedidosCompra.list.headline">Pedidos Compras</a>
                <a routerLink="/pedidosProductos" class="list-group-item list-group-item-action" i18n="@@pedidosProducto.list.headline">Pedidos Productos</a>
                <a routerLink="/usuarios" class="list-group-item list-group-item-action" i18n="@@usuario.list.headline">Usuarios</a>
            </div>
        </div>
        <div class="img-diablos diablos-nudge">
            <img src="diablos_rojos.png" alt="Logo Diablos Rojos"
                  width="400" height="400">
        </div>
    </div>
</div>
