<h1 class="mb-4" i18n="@@home.index.headline">Welcome to your new app!</h1>
<p class="mb-5">
    <span i18n="@@home.index.swagger">Swagger is</span>
    <a [href]="environment.apiPath + '/swagger-ui.html'" target="_blank" i18n="@@home.index.swagger.link">available here</a>.
</p>
<div class="col-md-4 mb-5">
    <h4 class="mb-3" i18n="@@home.index.exploreEntities">Explore your entities</h4>
    <div class="list-group">
        <a routerLink="/modeloAeronaves" class="list-group-item list-group-item-action" i18n="@@modeloAeronave.list.headline">Modelo Aeronaves</a>
        <a routerLink="/transaccion-combinada-add" class="list-group-item list-group-item-action" i18n="@@transaccion-combinada-add.headline">Transacciones de altas y bajas </a>
        <a routerLink="/search" class="list-group-item list-group-item-action" i18n="@@search.headline">Search Products</a>
        <a routerLink="/aeronaves" class="list-group-item list-group-item-action" i18n="@@aeronave.list.headline">Aeronaves</a>
        <a routerLink="/almacenEstantes" class="list-group-item list-group-item-action" i18n="@@almacenEstante.list.headline">Almacen Estantes</a>
        <a routerLink="/almacenRepisas" class="list-group-item list-group-item-action" i18n="@@almacenRepisa.list.headline">Almacen Repisas</a>
        <a routerLink="/almacenContenedores" class="list-group-item list-group-item-action" i18n="@@almacenContenedor.list.headline">Almacen Contenedores</a>
        <a routerLink="/proveedores" class="list-group-item list-group-item-action" i18n="@@proveedor.list.headline">Proveedores</a>
        <a routerLink="/pedidosCompras" class="list-group-item list-group-item-action" i18n="@@pedidosCompra.list.headline">Pedidos Compras</a>
        <a routerLink="/tipoProductos" class="list-group-item list-group-item-action" i18n="@@tipoProducto.list.headline">Tipo Productos</a>
        <a routerLink="/productos" class="list-group-item list-group-item-action" i18n="@@producto.list.headline">Productos</a>
        <a routerLink="/pedidosProductos" class="list-group-item list-group-item-action" i18n="@@pedidosProducto.list.headline">Pedidos Productos</a>
        <a routerLink="/transaccionEventos" class="list-group-item list-group-item-action" i18n="@@transaccionEvento.list.headline">Transaccion Eventos</a>
        <a routerLink="/usuarios" class="list-group-item list-group-item-action" i18n="@@usuario.list.headline">Usuarios</a>
        <a routerLink="/transacciones" class="list-group-item list-group-item-action" i18n="@@transaccion.list.headline">Transacciones</a>
        <a routerLink="/transaccionesProductos" class="list-group-item list-group-item-action" i18n="@@transaccionesProducto.list.headline">Transacciones Productos</a>
    </div>
</div>
