<div class="header-container">
    <h1 class="mb-4" i18n="@@home.index.headline">Fuerza Aerea Boliviana III-Brigada Aerea</h1>
    <img src="Fuerza_aerea.png" alt="Logo Fuerza Aérea" class="header-image larger-image">
    <img src="Brigada.png" alt="Logo Brigada" class="header-image larger-image higher-image smaller-image">
</div>

<div class="container mt-3">
    <div class="flex-container">

        <!-- Menú principal - Ancho fijo -->
        <div class="menu-wrapper">
            <h4 class="mb-3" i18n="@@home.index.exploreEntities">Menú</h4>
            <div class="list-group">
                <a routerLink="/modeloAeronaves" class="list-group-item list-group-item-action" i18n="@@modeloAeronave.list.headline">Modelo Aeronaves</a>
                <a routerLink="/aeronaves" class="list-group-item list-group-item-action" i18n="@@aeronave.list.headline">Aeronaves</a>
                <a routerLink="/proveedores" class="list-group-item list-group-item-action" i18n="@@proveedor.list.headline">Proveedores</a>
                <a routerLink="/pedidosCompras" class="list-group-item list-group-item-action" i18n="@@pedidosCompra.list.headline">Pedidos Compras</a>
                <a routerLink="/pedidosProductos" class="list-group-item list-group-item-action" i18n="@@pedidosProducto.list.headline">Pedidos Productos</a>
                <a routerLink="/usuarios" class="list-group-item list-group-item-action" i18n="@@usuario.list.headline">Usuarios</a>
            </div>
        </div>

        <!-- Imagen con clases de control -->
        <div class="img-wrapper img-right img-top img-medium">
            <img src="diablos_rojos.png" alt="Logo Diablos Rojos">
        </div>
    </div>
</div>
