<div class="d-flex flex-wrap mb-2">
    <h1 i18n="@@proveedor.edit.headline">Editar proveedor</h1>
</div>
<div class="form-container">
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="pveNombre" i18n-label="@@proveedor.pveNombre.label" label="Nombre" />
    <app-input-row [group]="editForm" field="pveTelefono" i18n-label="@@proveedor.pveTelefono.label" label="Teléfono" />
    <app-input-row [group]="editForm" field="pveFax" i18n-label="@@proveedor.pveFax.label" label="Fax" />
    <app-input-row [group]="editForm" field="pveEmail" i18n-label="@@proveedor.pveEmail.label" label="Email" />
    <app-input-row [group]="editForm" field="pveDireccion" i18n-label="@@proveedor.pveDireccion.label" label="Dirección" />
    <app-input-row [group]="editForm" field="pveCiudad" i18n-label="@@proveedor.pveCiudad.label" label="Ciudad" />
    <app-input-row [group]="editForm" field="pvePais" i18n-label="@@proveedor.pvePais.label" label="País" />

    <div class="text-end mt-3">
        <input type="submit"
               i18n-value="@@proveedor.edit.headline"
               value="Guardar"
               class="btn btn-primary" />
    </div>
</form>
</div>
