@import 'bootstrap/scss/bootstrap.scss';
@import 'custom';
@import 'flatpickr/dist/flatpickr.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.snackbar-offset {
  margin-top: 70px !important;
  background-color: #d4cfb8 !important;

}
.snackbar-success {

  text-align: center;
  justify-content: center;
  max-width: 400px;
  border-radius: 8px;
}
