<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@transaccion.list.headline">Lista de Transacciones</h1>
    <div>
        <a routerLink="/transaccion-combinada-add" class="btn btn-primary ms-2" i18n="@@transaccion.list.createNew">
            Agregar una nueva Transacción
        </a>
        <button (click)="generarReportePdf()" class="btn btn-primary ms-2">
            Generar Reporte PDF
        </button>
    </div>
</div>

<!-- Selector de rango de fechas -->
<div class="mb-4">
    <mat-form-field appearance="fill">
        <mat-label>Seleccione un rango de fechas</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [(ngModel)]="fechaInicio" placeholder="Fecha de inicio" />
            <input matEndDate [(ngModel)]="fechaFin" placeholder="Fecha de fin" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker class="custom-datepicker"></mat-date-range-picker>
    </mat-form-field>

    <button (click)="aplicarFiltroPorRango()" class="btn btn-secondary ms-2">Aplicar Filtro</button>
    <button (click)="limpiarFiltro()" class="btn btn-secondary ms-2">Limpiar Filtro</button>
</div>

@if (!transaccionesCombinadas || transaccionesCombinadas.length === 0) {
<div i18n="@@transaccion.list.empty">No se encontraron transacciones.</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead>
        <tr>
            <th scope="col" class="text-center" i18n="@@transaccionesProducto.tcoPro.label">Pieza</th>
            <th scope="col" class="text-center" i18n="@@transaccion.tceTvo.label">Movimiento</th>
            <th scope="col" class="text-center" i18n="@@transaccionesProducto.tcoUnidades.label">Unidades</th>
            <th scope="col" class="text-center" i18n="@@transaccion.tceUsr.label">Usuario</th>
            <th scope="col" class="text-center" i18n="@@transaccion.tceFechaTransaccion.label">Fecha Transacción</th>
            <th scope="col" class="text-center" i18n="@@transaccion.tceObservaciones.label">Observaciones</th>
            <th scope="col" class="text-center" i18n="@@transaccion.tceAnv.label">Aeronave</th>
        </tr>
        </thead>
        <tbody>
        @for (transaccion of paginatedTransacciones; track transaccion.tceId) {
        <tr>
            <td class="text-center">{{ transaccion.tcoProNombre }}</td>
            <td class="text-center">{{ transaccion.tceTvoEvento }}</td>
            <td class="text-center">{{ transaccion.tcoUnidades }}</td>
            <td class="text-center">{{ transaccion.tceUsrNombre }}</td>
            <td class="text-center">{{ transaccion.tceFechaTransaccion | date: 'yyyy-MM-dd' }}</td>
            <td class="text-center">{{ transaccion.tceObservaciones }}</td>
            <td class="text-center">{{ transaccion.tceAnvMatricula }}</td>
        </tr>
        }
        </tbody>
    </table>
</div>

<!-- Controles de paginación -->
<div class="d-flex justify-content-between align-items-center mt-3">
    <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn btn-secondary">
        Anterior
    </button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btn-secondary">
        Siguiente
    </button>
</div>
}

