<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@transaccion.add.headline">Transaccion</h1>
    <div>
        <a routerLink="/transacciones" class="btn btn-secondary" i18n="@@transaccion.add.back">Back to list</a>
        <button type="button" class="btn btn-info" (click)="openSearchModal()">Search</button>
    </div>
</div>

<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="tcoPro" rowType="text" [options]="tcoProValues" i18n-label="@@transaccionesProducto.tcoPro.label" label="Pieza:" />
    <app-input-row [group]="addForm" field="tceTvo" rowType="select" [options]="tceTvoValues" i18n-label="@@transaccion.tceTvo.label" label="Movimiento:" />
    <app-input-row [group]="addForm" field="tcoUnidades" rowType="number" i18n-label="@@transaccionesProducto.tcoUnidades.label" label="Unidades:" />
    <app-input-row [group]="addForm" field="tceObservaciones" i18n-label="@@transaccion.tceObservaciones.label" label="Observaciones:" />

    <input type="submit" i18n-value="@@transaccion.add.headline" value="Añadir Transaccion" class="btn btn-primary mt-4" />
</form>
