/* Cambiar el fondo del calendario a blanco, agregar borde negro y bordes redondeados */
::ng-deep .custom-datepicker .mat-calendar {
  background-color: white !important;
  border-radius: 12px !important; /* Bordes redondeados */
}

/* Cambiar el fondo del contenedor del calendario, agregar borde negro y bordes redondeados */
::ng-deep .custom-datepicker .mat-datepicker-content {
  background-color: white !important;
  border-radius: 12px !important; /* Bordes redondeados */
}

/* Cambiar el fondo del overlay (fondo detrás del calendario), agregar borde negro y bordes redondeados */
::ng-deep .cdk-overlay-container .cdk-overlay-pane .mat-datepicker-content {
  background-color: white !important;
  border-radius: 12px !important; /* Bordes redondeados */
}
::ng-deep .mat-datepicker-popup {
  margin-top: 5px; /* Ajusta este valor (ej: 20px, 40px) */
}

