<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@transaccionCombinada.edit.headline">Editar Transacción Combinada</h1>
    <div>
        <a routerLink="/transaccion-combinada-list" class="btn btn-secondary">Volver a la lista</a>
    </div>
</div>

<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <!-- Campos de Transacción -->

    <app-input-row [group]="editForm" field="tceObservaciones" rowType="text" i18n-label="@@transaccion.tceObservaciones.label" label="Observaciones" />
    <app-input-row [group]="editForm" field="tceTvo" rowType="select" [options]="tceTvoValues" i18n-label="@@transaccion.tceTvo.label" label="Evento Transacción" />
    <app-input-row [group]="editForm" field="tceUsr" rowType="select" [options]="tceUsrValues" i18n-label="@@transaccion.tceUsr.label" label="Usuario" />

    <!-- Campos de Transacción Producto -->
    <app-input-row [group]="editForm" field="tcoUnidades" rowType="number" i18n-label="@@transaccionesProducto.tcoUnidades.label" label="Unidades" />

    <!-- Campo Producto (tcoPro) como cuadro de texto -->
    <div class="form-group">
        <label for="tcoPro" i18n="@@transaccionesProducto.tcoPro.label">Producto</label>
        <input type="text" id="tcoPro" formControlName="tcoPro" class="form-control" />
        <div *ngIf="editForm.get('tcoPro')?.invalid && editForm.get('tcoPro')?.touched" class="text-danger">
            <span i18n="@@transaccionesProducto.tcoPro.error">El campo Producto es requerido.</span>
        </div>
    </div>


    <!-- Campo Matrícula de Aeronave (condicional) -->
    <div class="form-group" *ngIf="showAeronaveField">
        <label for="tceAnv" i18n="@@transaccion.tceAnv.label">Matrícula de Aeronave</label>
        <select id="tceAnv" formControlName="tceAnv" class="form-control" [disabled]="aeronaves.length === 0">
            <option value="" i18n="@@transaccion.tceAnv.placeholder">Seleccione una matrícula</option>
            <option *ngFor="let anv of aeronaves" [value]="anv.anvId">{{ anv.anvMatricula }}</option>
        </select>
        <div *ngIf="editForm.get('tceAnv')?.invalid && editForm.get('tceAnv')?.touched" class="text-danger">
            <span i18n="@@transaccion.tceAnv.error">Debe seleccionar una matrícula de aeronave.</span>
        </div>
        <div *ngIf="aeronaves.length === 0 && showAeronaveField" class="text-info">
            <span i18n="@@transaccion.tceAnv.noAeronaves">No hay aeronaves compatibles con el producto seleccionado.</span>
        </div>
    </div>

    <!-- Botón de envío -->
    <button type="submit" class="btn btn-primary mt-4" i18n="@@transaccionCombinada.edit.submit">Guardar</button>
</form>
