<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@transaccion.add.headline">Transacciones</h1>
    <div>
        <a routerLink="/transacciones" class="btn btn-secondary" i18n="@@transaccion.add.back">Back to list</a>
    </div>
</div>

<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="tceFechaTransaccion" datepicker="datepicker" i18n-label="@@transaccion.tceFechaTransaccion.label" label="Fecha Transaccion" />
    <app-input-row [group]="addForm" field="tceObservaciones" i18n-label="@@transaccion.tceObservaciones.label" label="Observaciones" />
    <app-input-row [group]="addForm" field="tceTvo" rowType="select" [options]="tceTvoValues" i18n-label="@@transaccion.tceTvo.label" label="Estado" />
    <app-input-row [group]="addForm" field="tceUsr" rowType="select" [options]="tceUsrValues" i18n-label="@@transaccion.tceUsr.label" label="Usuario" />

    <h1 class="flex-grow-1" i18n="@@transaccionesProducto.add.headline"></h1>
    <div>
    </div>
    <app-input-row [group]="addForm" field="tcoUnidades" rowType="number" i18n-label="@@transaccionesProducto.tcoUnidades.label" label="Unidades" />
    <app-input-row [group]="addForm" field="tcoPro" rowType="select" [options]="tcoProValues" i18n-label="@@transaccionesProducto.tcoPro.label" label="Producto" />
    <input type="submit" i18n-value="@@transaccion.add.headline" value="Añadir Transaccion" class="btn btn-primary mt-4" />
</form>
