<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@transaccionesProducto.add.headline">Add Transacciones Producto</h1>
    <div>
        <a routerLink="/transaccionesProductos" class="btn btn-secondary" i18n="@@transaccionesProducto.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="tcoUnidades" rowType="number" i18n-label="@@transaccionesProducto.tcoUnidades.label" label="Tco Unidades" />
    <app-input-row [group]="addForm" field="tcoPro" rowType="select" [options]="tcoProValues" i18n-label="@@transaccionesProducto.tcoPro.label" label="Tco Pro" />
    <app-input-row [group]="addForm" field="tcoTce" rowType="select" [options]="tcoTceValues" i18n-label="@@transaccionesProducto.tcoTce.label" label="Tco Tce" />
    <input type="submit" i18n-value="@@transaccionesProducto.add.headline" value="Add Transacciones Producto" class="btn btn-primary mt-4" />
</form>
