<div class="search-container">
    <h2>Ingresar datos de la pieza</h2>


    <form class="search-form" (ngSubmit)="searchProducts()">

        <div class="form-group">
            <label for="partNumber">Número de parte:</label>
            <input type="text" id="partNumber" [(ngModel)]="partNumber" name="partNumber" class="form-input" />
        </div>

        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" id="name" [(ngModel)]="name" name="name" class="form-input" />
        </div>

        <div class="form-group">
            <label for="alterPartNumber">Número de parte alterna:</label>
            <input type="text" id="alterPartNumber" [(ngModel)]="alterPartNumber" name="alterPartNumber" class="form-input" />
        </div>

        <button
            mat-icon-button
            type="submit"
            arial-label="Buscar"
            class="search-icon-btn"
        >
            <mat-icon svgIcon="search"></mat-icon>
        </button>

    </form>


    <div *ngIf="groupedProducts?.length" class="results-container">
        <table class="results-table">
            <thead>
            <tr>
                <th>Número de parte</th>
                <th>Nombre</th>
                <th>Número de parte alterna</th>
                <th>Número de serie</th>
                <th>Unidades</th>
                <th>Tipo de documento</th>
                <th>Tipo de producto</th>
                <th>Ubicación</th>
                <th>Modelo de aeronave</th>
                <th>Proveedor</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of groupedProducts">
                <td>{{ product.proNumeroParte }}</td>
                <td>{{ product.proNombre }}</td>
                <td>{{ product.proNumeroParteAlterno }}</td>
                <td>{{ product.proNumeroSerie }}</td>
                <td>{{ product.proUnidades }}</td>
                <td>{{ product.proTipoDocumento }}</td>
                <td>{{ product.tipoProducto }}</td>
                <td>{{ product.contenedorCombinado }}</td>
                <td>{{ product.modeloAeronave }}</td>
                <td>{{ product.proveedor }}</td>
            </tr>
            </tbody>
        </table>
    </div>


    <div *ngIf="searchPerformed && (!groupedProducts || groupedProducts.length === 0)">
        <p class="no-results">No se encontraron resultados.</p>
    </div>
</div>
