.search-container {
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  background-color: #D4CFB8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color:#332F27;
  margin: 0px -20px 10px;
  background-color: #c8c2a5;
  border-bottom: 1px solid rgba(51, 47, 39, .12);
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #332F27;
}

.form-input {
  padding: 8px;
  font-size: 14px;
  border: 1px;
  outline: none;
  border: 1px solid #b8b19a;
}

.search-icon-btn {
  align-self: flex-end;
 }

.search-icon-btn mat-icon {
  width: 32px;
  height: 32px;
  color: #332F27;
}


.results-container {
  margin-top: 20px;
  overflow-x: auto;
  max-height: 220px;
  overflow-y: auto;
  scrollbar-color: rgba(159,159,159,1) #2C2C2C;
  scrollbar-width: thin;

}

:host {
  --row-bg: #C9C4AF;
  --row-alt-bg: #D4CFB8;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table th,
.results-table td {
  padding: 5px;
  border-bottom: 1px solid #b8b19a;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
}

  .results-table tbody tr{
    background: var(--row-bg);
  }

  .results-table tbody tr:nth-child(even){
    background: var(--row-alt-bg);
  }

.no-results {
  text-align: center;
  margin-top: 20px;
  color: #332F27;
}
