<h1 mat-dialog-title class="d-flex align-items-center dlg-title gap-2">
    <mat-icon svgIcon="warning_yb_outline" style="font-size:30px;width:30px;height:30px;"></mat-icon>
    <span class="title-text">Confirmar acción</span>
</h1>


<div mat-dialog-content class="message">
    {{ data.message }}
</div>

<div mat-dialog-actions class="d-flex justify-content-end gap-2 mt-3">
    <button type="button" class="btn btn-primary" (click)="dialogRef.close(false)">
        {{ data.cancelText || 'Cancelar' }}
    </button>
    <button type="button" class="btn btn-primary" (click)="dialogRef.close(true)">
        {{ data.confirmText || 'Aceptar' }}
    </button>
</div>
